*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #5e5e84;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2c2e35;
}

.container{
    width: 1400px;
    background-color: white;
    margin: 10px auto;
}
.superior{
    background-color: crimson;
    overflow: hidden;
}
.logo{
    float: right;
    width: 300px;
    padding: 20px;
}
.menu{
    float: left;
    padding: 50px;
}
.opciones li{
    float: left;
    list-style: none;
}
.opciones li a{
    color: white;
    padding: 20px;
    text-decoration: none;
    border: 1px solid white;
}
.opciones li a:hover{
    background-color: rgb(227, 56, 90);
}
.cuerpo, .inicio, .enlaces{
    overflow: hidden;
}
.izq_banner{
    width: 70%;
    float: left;
}
.der_enlaces{
    width: 30%;
    float: left;
}
.banner{
    width: 960px;
    height: 360px;
}
.div_enlace{
    width: 50%;
    float: left;
}
.img_enlace{
    width: 200px;
    height: auto;
    padding: 8px;
}
.a_enlace{
    margin-top: 60px;
    text-align: center;
}
.enlaces_img{
    text-decoration: none;
    cursor: pointer;
}
.caja{
    float: left;
    width: 442px;
    margin: 10px;
    border: 1px solid;
}
.subtitulo{
    background-color: darkgray;
}
.servicio{
    color: white;
    text-align: center;
    padding: 15px 0;
}
.imagenes{
    width: 442px;
    height: auto;
}
.imagenes:hover{
    opacity: 0.8;
    cursor: pointer;
}
.contenido{
    padding: 15px;
    text-align: center;
}
.boton{
    padding: 15px 20px;
    margin: 20px 0;
    color: white;
    background-color: crimson;
    text-align: center;
}
.boton:hover{
    background-color: rgb(255, 94, 126);
    cursor: pointer;
}
.titulo{
    text-align: center;
    padding: 20px 0 15px 0;
    color: #ff7600;
    font-size: 35px;
}
.piepagina{
    background-color: crimson;
    height: 15px;
}
.izquierdo{
    float: left;
    width: 50%;
}
.derecho{
    float: left;
    width: 50%;
}
.inicio_sesion{
    padding: 15px;
    margin-top: 15px;
}
.input_usuario{
    width: 440px;
    margin: 15px;
    padding: 8px;
}
#texto_info{
    padding-top: 25px;
    padding-right: 25px;
    text-align: justify;
}
#texto_info2{
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    text-align: justify;
}
#txt_name{
    color: #5e5e84;
    font-weight: 800;
}
.div_conversion{
    margin-top: 10px;
}
#img_aside{
    width: 400px;
    height: auto;
}
.input_conversion{
    width: 400px;
    margin: 15px;
    padding: 8px;
}
.boton_conversion{
    padding: 15px 20px;
    margin-top: 20px;
    margin-right: 22px;
    color: white;
    background-color: crimson;
    text-align: center;
    float: right;
}
.boton_conversion:hover{
    background-color: rgb(255, 94, 126);
    cursor: pointer;
}
.txt_final{
    margin-top: 20px;
    padding: 15px;
    text-align: justify;
}
#txt_beneficio{
    text-align: justify;
}
